<div class="container">
	<h4 class="page-header text-center">Reset your password</h4>
	<div class="form-container shadow1">
		<form (submit)="onResetPasswordSubmit()">
			<div class="form-group">
				<label for="email">Enter your email address and we will send you a link to reset your password.</label>
				<input type="email" class="form-control" [(ngModel)]="email" name="email" placeholder="Enter your email address">
			</div>
			<button type="submit" class="btn btn-primary" id="reset_btn">Send password reset email</button>
		</form>
	</div>
</div>
