<div class="container"><br>
	<h4 class="page-header text-center">Pricing Policy</h4>
	<div class="as-card shadow1">
			
		<h5>Price Range</h5>
		<p>At spartaleagues.com we have customised pricing according to the services rendered by us. The details are provided to you beforehand according to the effort, efficiency and the output of the service. Typically the range of transactions on our website varies from INR 3000 to 4000.</p>


		<h5>Schedule of payment</h5>
		<p>Some of our services can be utilised for fixed durations. In such cases, it is clearly mentioned within the description of these services. The period of usage in these cases vary from 1 month to 1 year.</p>


		<h5>Price Matching</h5>
		<p>At spartaleagues.com we are committed to offering you the best possible prices. We will be glad to meet our competitor's pricing if you ever find an item that we offer, in the same color and size, available from a similar retailer.</p>

		<p>We are unable to match prices from auction and outlet stores or websites, as well as other retailers' discount promotions, shipping offers and gift card offers.</p>

		<h5>Sale Adjustment</h5>
		<p>If an item you have purchased is reduced in price within two weeks of your order date, we will happily adjust the sale price for you. Please note that we can only make one sale adjustment per item and designer goods originally purchased on sale are excluded.</p>

		<h5>Pricing Errors</h5>
		<p>We work hard to ensure the accuracy of pricing. Despite our efforts, pricing errors may still occur. If an item's price is higher than the price displayed, we will cancel your order of that item and notify you of the cancellation.</p>

		<p>Our merchandise/service is offered for sale by spartaleagues.com for your personal enjoyment and not for resale. Therefore, we reserve the right to refuse to sell to any person whom we believe may be purchasing for resale.</p>
		<p>Our Customer Service Specialists are ready to assist you—simply call +91-7728055098 12 hours a day.</p>
	</div>
</div>
