.as-card {
    padding-top: 50px;
    padding-bottom: 50px;

    i {
        font-size: 80px;
        color: rgb(42, 192, 42);
    }

    .payment-failed-conatiner {
        i {
            font-size: 80px;
            color: rgb(204, 43, 43);
        }
    }
}