.white{
    color: white;
}

.as-bgcolor-primary {
    background: $as-color-primary;
}

.as-bgcolor-important-primary {
    background: $as-color-primary !important;
}

.as-bgcolor-body {
    background: $as-color-body;
}

.as-bgcolor-important-body {
    background: $as-color-body !important;
}

.as-bgcolor-card {
    background: $as-color-card;
}

.as-bgcolor-important-card {
    background: $as-color-card !important;
}

.page-header {
    color: #fff;
}

.as-color-grey {
    color: #808080;
}
