// ======================== PADDINGS====================//
.as-pd-0 {
    padding: 0px;
}
.as-pd-5 {
    padding: 5px;
}
.as-pd-8 {
    padding: 8px;
}
.as-pd-10 {
    padding: 10px;
}
.as-pd-12 {
    padding: 12px;
}
.as-pd-15 {
    padding: 15px;
}
.as-pd-20 {
    padding: 20px;
}
.as-pd-30 {
    padding: 30px;
}

// Padding Left
.as-pd-left-5 {
    padding-left: 5px;
}
.as-pd-left-8 {
    padding-left: 8px;
}
.as-pd-left-10 {
    padding-left: 10px;
}
.as-pd-left-12 {
    padding-left: 12px;
}
.as-pd-left-15 {
    padding-left: 15px;
}
.as-pd-left-20 {
    padding-left: 20px;
}

// Top
.as-pd-top-5 {
    padding-top: 5px;
}
.as-pd-top-8 {
    padding-top: 8px;
}
.as-pd-top-10 {
    padding-top: 10px;
}
.as-pd-top-12 {
    padding-top: 12px;
}
.as-pd-top-15 {
    padding-top: 15px;
}
.as-pd-top-20 {
    padding-top: 20px;
}
.as-pd-top-30  {
    padding: 30px;
}


// Right
.as-pd-right-5 {
    padding-right: 5px;
}
.as-pd-right-8 {
    padding-right: 8px;
}
.as-pd-right-10 {
    padding-right: 10px;
}
.as-pd-right-12 {
    padding-right: 12px;
}
.as-pd-right-15 {
    padding-right: 15px;
}
.as-pd-right-20 {
    padding-right: 20px;
}


// Bottom
.as-pd-bottom-5 {
    padding-bottom: 5px;
}
.as-pd-bottom-8 {
    padding-bottom: 8px;
}
.as-pd-bottom-10 {
    padding-bottom: 10px;
}
.as-pd-bottom-12 {
    padding-bottom: 12px;
}
.as-pd-bottom-15 {
    padding-bottom: 15px;
}
.as-pd-bottom-20 {
    padding-bottom: 20px;
}

// ======================== MARGINS ====================//
.as-mg-auto-horizontal{
    margin: 0 auto;
}
.as-mg-auto-vertical{
    margin: auto 0;
}
  
.as-mg-auto{
    margin: auto;
}

.as-mg-5 {
    margin: 5px;
}
.as-mg-8 {
    margin: 8px;
}
.as-mg-10 {
    margin: 10px;
}
.as-mg-12 {
    margin: 12px;
}
.as-mg-15 {
    margin: 15px;
}
.as-mg-20 {
    margin: 20px;
}
.as-mg-30 {
    margin: 30px;
}

// Padding Left
.as-mg-left-5 {
    margin-left: 5px;
}
.as-mg-left-8 {
    margin-left: 8px;
}
.as-mg-left-10 {
    margin-left: 10px;
}
.as-mg-left-12 {
    margin-left: 12px;
}
.as-mg-left-15 {
    margin-left: 15px;
}
.as-mg-left-20 {
    margin-left: 20px;
}
.as-mg-left-30 {
    margin-left: 30px;
}

// Top
.as-mg-top-5 {
    margin-top: 5px;
}
.as-mg-top-8 {
    margin-top: 8px;
}
.as-mg-top-10 {
    margin-top: 10px;
}
.as-mg-top-12 {
    margin-top: 12px;
}
.as-mg-top-15 {
    margin-top: 15px;
}
.as-mg-top-20 {
    margin-top: 20px;
}
.as-mg-top-30 {
    margin-top: 30px;
}


// Right
.as-mg-right-5 {
    margin-right: 5px;
}
.as-mg-right-8 {
    margin-right: 8px;
}
.as-mg-right-10 {
    margin-right: 10px;
}
.as-mg-right-12 {
    margin-right: 12px;
}
.as-mg-right-15 {
    margin-right: 15px;
}
.as-mg-right-20 {
    margin-right: 20px;
}
.as-mg-right-30 {
    margin-right: 30px;
}


// Bottom
.as-mg-bottom-5 {
    margin-bottom: 5px;
}
.as-mg-bottom-8 {
    margin-bottom: 8px;
}
.as-mg-bottom-10 {
    margin-bottom: 10px;
}
.as-mg-bottom-12 {
    margin-bottom: 12px;
}
.as-mg-bottom-15 {
    margin-bottom: 15px;
}
.as-mg-bottom-20 {
    margin-bottom: 20px;
}
.as-mg-bottom-30 {
    margin-bottom: 30px;
}