.as-font-family-primary {
    font-family: $font-family-primary;
}

.as-font-light {
    font-weight: $font-light; //300
}
.as-font-bold {
    font-weight: $font-bold; //600
}

.as-font-bolder {
    font-weight: $font-bolder; //700
}


// Font Sizes
.as-font-24{
    font-size: $font-24;
 }

.as-font-20{
    font-size: $font-20;
 }

.as-font-18{
    font-size: $font-18;
 }

.as-font-16{
    font-size: $font-16;
 }

.as-font-14{
    font-size: $font-14;
 }

.as-font-12{
    font-size: $font-12;
}
 .as-font-10{
    font-size: $font-10;
}