.as-text-color-primary {
    color: $as-color-primary;
}

.as-text-color-body {
    color: $as-color-body;
}

.as-text-color-card {
    color: $as-color-card;
}

.as-text-color-white {
    color: white;
}

.as-text-color-light-grey {
    color: #ebebeb;
}

.as-text-align-center {
    text-align: center;
}