.container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.form-container {
    width: 360px;
    margin: 20px auto;
    background-color: #1a1e24;
    padding: 25px;
    border-radius: 3px;

    input::placeholder {
        color: #999;
    }

    #update_btn {
        margin-top: 5px;
        width: 100%;
    }
}



// For Mobile
@media (max-width: 575.98px) {
    .form-container {
        width: 100%;
    }
}