<div class="container">
	<br>
	<div class="page-header">
		<h4 class="text-center">FAQ</h4>
	</div><br>
	<div class="row" *ngFor="let faq of faqs">
		<div class="col-lg-12">
			<div class="as-card shadow1 as-pd-20 as-mg-bottom-20" [@doAnimate]="{ value: slideInUp, params: { timing: myTiming || 1, delay: myDelay || 0 } }">
				<h6>Q. {{ faq.faqQuestion }}</h6>
				<p>Ans: {{ faq.faqAns }}</p>
			</div>
		</div>
	</div>
	<!-- <div class="row">
		<div class="col-md-6">
			<div class="as-card shadow1">
				<h6>Q. I forgot my password, what should i do?</h6>
				<p>Ans: Click on “Forgot Password”, it will automatically send you a link on your email id, the link will forward you to your profile where you can change your password.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="as-card shadow1">
				<h6>Q. I don’t have a team, can i participate?</h6>
				<p>Ans: Yes. Click on “Participate” tab, it will take you to a page where you can “create a team”. Click on “Create team” tab and search players by steam score. Then click on “Invite”. The player will get a notification of your invite and she/he will accept or reject your participation offer.</p>
			</div>
		</div>
	</div><br>

	<div class="row">
		<div class="col-md-6">
			<div class="as-card shadow1">
				<h6>Q. Can i cancel my participation after payment?</h6>
				<p>Ans: No. The prize money is based on the number of participations that’s why we don’t allow cancellation.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="as-card shadow1">
				<h6>Q. How many players do i have to arrange to participate?</h6>
				<p>Ans: Five. If you don’t have a team you can search and invite players by clicking on “Participate” then “Create Team”.</p>
			</div>
		</div>
	</div><br>

	<div class="row">
		<div class="col-md-6">
			<div class="as-card shadow1">
				<h6>Q. What would happen after participating?</h6>
				<p>Ans: We have provided all the details if the events i.e venue, timings, prize money. You have to come down to the venue with your team for the competition.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="as-card shadow1">
				<h6>Q. Can i bring my own laptop or mouse?</h6>
				<p>Ans: You can bring your own mouse if you want to but we don’t allow personal laptops. We will provide laptop/PC for every player. </p>
			</div>
		</div>
	</div><br>

	<div class="row">
		<div class="col-md-6">
			<div class="as-card shadow1">
				<h6>Q. Where would be the competition, online or offline?</h6>
				<p>Ans: The competition will be offline. We will share all the competition details, venue, timing, prize money etc.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="as-card shadow1">
				<h6>Q. When will i get the prize money?</h6>
				<p>Ans: The prize money will be awarded to the teams on the same day of the competition.  </p>
			</div>
		</div>
	</div><br>

	<div class="row">
		<div class="col-md-6">
			<div class="as-card shadow1">
				<h6>Q. How would i distribute the prize money between my team?</h6>
				<p>Ans: It’s up to the team leader and team members. We don’t interfere in personal team issues.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="as-card shadow1">
				<h6>Q. Can i participate more than once?</h6>
				<p>Ans: Yes. Players can participate as many times as they want.</p>
			</div>
		</div>
	</div><br>

	<div class="row">
		<div class="col-md-6">
			<div class="as-card shadow1">
				<h6>Q. Can i change my team?</h6>
				<p>Ans: If you have done the registration for a competition than you can’t change the team. However if one or some of the players of the team are not available then you can change the players. You can change the the whole team or any player only before any competition.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="as-card shadow1">
				<h6>Q. I have less than five members in my team, can i participate?</h6>
				<p>Ans: Click on “Create team” tab and search players by steam score. Then click on “Invite”. The player will get a notification of your invite and she/he will accept or reject your participation offer.</p>
			</div>
		</div>
	</div><br>

	<div class="row">
		<div class="col-md-6">
			<div class="as-card shadow1">
				<h6>Q. How can i edit my game rank, password, email id or phone no.?</h6>
				<p>Ans: On top header there is a profile icon, click on the “Profile”. You can edit your email id, password, game rank and phone no.</p>
			</div>
		</div>
		<div class="col-md-6">
			<div class="as-card shadow1">
				<h6>Q. Can i talk to other members of SpartaLeagues website?</h6>
				<p>Ans: Right now we don’t have a chat system. We will update our website with forum and chat system in couple of months.</p>
			</div>
		</div>
	</div> -->
</div>
